.quantityPicker {
  color: rgb(0, 0, 0);
  display: block;
}

.quantityPicker button {
  background-color: rgb(126, 180, 27);
  color: rgb(255, 219, 14);
  display: inline-block;
  margin: 5px;
}

.quantityPicker label {
  display: inline-block;
  padding: 3px 5px;
}
